<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785290939532-hrpr2tgfelc38ofm4k2pnm0sjvkrqesm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785290939532-hrpr2tgfelc38ofm4k2pnm0sjvkrqesm</string>
	<key>API_KEY</key>
	<string>AIzaSyDxZrvTZWQvztCtw17dHfDz_ELu0PrjtNk</string>
	<key>GCM_SENDER_ID</key>
	<string>785290939532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skola</string>
	<key>PROJECT_ID</key>
	<string>myskola-5ed3d</string>
	<key>STORAGE_BUCKET</key>
	<string>myskola-5ed3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785290939532:ios:0702af68219620cf8c3fa9</string>
</dict>
</plist>